*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Helvetica, Arial; /*Now even the links have it. I don't need to show it elsewhere */
    font-size: 15px;
}

.main-text{
    text-align: justify;
    margin-bottom: 15px;
    line-height: 150%;
    
}

.author-text{
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 15px;
    float: left;
}

.container{
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post{
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts{
    width: 25%;
    float: left;
    padding: 40px 10px 20px 10px;
    margin-top: 30px;
    background-color: cornsilk;
}

.post{
    margin-bottom: 40px;
}

.author-box{
    padding-top: 10px;
    border-top: 1px solid grey;
}

#img{
    border-radius: 50%;
    float: left;
    margin-bottom: 10px;
}

h1, h2 {
    color: #df6d2b;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px red; - Isso não deu certo aqui, porque precisaria ser umadiv para eu mudar o estilo da borda, não dá para fazer isso em h1 */
} 

h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.ingre{
    padding-top: 10px;
}

.blog-post img {
    display: block;
    margin: 20px auto 20px auto;
}

.legenda{
    text-align: center;
}

.date{
    position: absolute;
    top: 40px;
    right: 30px;

}